<div class='group'>
  <div class='label'>
    <p>Configuration file path</p>
  </div>
  <div class='file-drop-area'>
    <span class='choose-btn'>Choose a file</span>
    <div class='file-msg'>
      <div id='text'>or drag and drop the file here</div>
    </div>
    <input class='file-input' type='file' />
  </div>
</div>
<div class='group'>
  <div class='button-container'>
    <button type='submit' disabled>Import Configuration</button>
  </div>
</div>