<style>
  .footer {
    display: flex;
    width: 100%;
    font-size: 10px !important;
    margin-bottom: 35px;
  }

  span.datetime,
  span.page {
    display: inline-flex;
  }

  span.datetime {
    width:100%;
    justify-content: left;
    padding-left: 75px;
  }

  span.page {
    justify-content: right;
    padding-right: 75px;
  }
</style>

<div class="footer">
  <span class="datetime">{{~dateTime~}}</span>
  <span class="page">
      <span>Page:&nbsp;</span>
      <label class="pageNumber"></label>
      <span>&nbsp;of&nbsp;</span>
      <label class="totalPages"></label>
  </span>
</div>
