@import url("@fortawesome/fontawesome-free/css/all.css");

div#error-overlay {
  background: #232323;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div#error-overlay.not-visible {
  display: none;
}

.error-wrapper {
  display: inline-block;
  position: relative;
}

.error-wrapper i {
  color: #FF8A65;
  font-size: 6em;
  transition: transform 0.2s ease-in-out;
}

.error-wrapper i:hover {
  transform: scale(1.1);
}

.error-msg {
  margin-top: 25px;
}

.error-msg p {
  color: #FF8A65;
  text-align: center;
  letter-spacing: 0.04em;
}

.error-msg p.message {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.error-msg p.details {
  font-size: 1em;
  font-style: italic;
}

#interact-btn {
  width: 25%;
  margin-top: 35px;
  padding: 12px 30px;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  border-radius: 30px;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: ease-out .4s;
  color: #FF7043;
  border: 2px solid #FF7043;
  background-color: #232323;
  background-image: linear-gradient(to left, #232323, #232323);
}

#interact-btn:hover {
  color: #232323;
  font-weight: bolder;
  background-color: #FF7043;
  background-image: linear-gradient(to right, #FF7043, #FF7043);
  cursor: pointer;
}
