.nav-open {
  overflow: hidden;
}

.toggle-nav-btn {
  transition-duration: 0.5s;
  transition-timing-function: swing;
  width: 90px;
  height: 50px;
  background-color: #232323dd;
  position: fixed;
  top: 30px;
  left: 42px;
  z-index: 9;
  border-radius: 60px;
  box-shadow: 6px 6px 15px -3px rgb(0 0 0 / 60%);
}

.toggle-nav-btn:hover {
  cursor: pointer;
  background-color: #16a085;
}

.toggle-nav-btn .icon {
  transition-duration: 0.2s;
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: #ededed;
  top: 25px;
  left: 30px;
}

.toggle-nav-btn .icon::before,
.toggle-nav-btn .icon::after {
  transition-duration: 0.5s;
  background-color: #ededed;
  position: absolute;
  content: '';
  width: 30px;
  left: 0;
  height: 1px;
}

.toggle-nav-btn .icon::before {
  top: -7px;
}

.toggle-nav-btn .icon::after {
  top: 7px;
}

.toggle-nav-btn.open {
  transform: translateX(250px);
}

.toggle-nav-btn.open .icon {
  background-color: transparent;
}

.toggle-nav-btn.open .icon::before,
.toggle-nav-btn.open .icon::after {
  top: 0;
}

.toggle-nav-btn.open .icon::before {
  transform: rotate(-45deg);
}

.toggle-nav-btn.open .icon::after {
  transform: rotate(45deg);
}

nav {
  background-color: #232323;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}

nav ul {
  width: 250px;
  margin-top: 50px;
  min-height: 350px;
  flex: 1 0 18rem;
}

nav ul li a {
  transition-duration: 0.25s;
  display: block;
  padding: 15px 40px;
  color: #ededed;
  font-size: 1.5em;
  text-align: right;
  letter-spacing: 0.04em;
  text-decoration: none;
}

nav > ul li a:hover,
nav > ul li a.active {
  color: #16a085;
  border-right: 6px solid #16a085;
}

nav ul li a.disabled {
  pointer-events: none;
  color: #616161;
}

nav .bottom {
  text-align: center;
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

nav .bottom .logos {
  margin-bottom: 15px;
}

nav .bottom .copyright span,
nav .bottom .copyright span a,
nav .bottom .version span a {
  color: #ededed;
}

nav .bottom .copyright span a,
nav .bottom .version span a {
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 2px;
}

nav .bottom .logos a:hover {
  opacity: 0.5;
}

nav .bottom .copyright span a:hover,
nav .bottom .version span a:hover {
  border-bottom: 2px solid #ededed;
}

nav .bottom .version {
  margin-top: 5px;
}

nav .bottom .version span {
  color: #ededed;
  font-style: italic;
  font-size: 0.8em;
}

nav .bottom .logos a img {
  height: 2.5em;
  margin-bottom: 15px;
}
