<div class='group group-right-space' id='create-button'>
  <div class='button-container'>
    <button type='submit'>Add a new {{buttonLabel~}}</button>
  </div>
</div>
<div class='list-container'>
  <ul class='list'></ul>
</div>