<div class='list-container empty-list'>
  <div class='empty-content'>
    <h4>No data found</h4>
    {{#if (eq type 'muscles')}}
      <span>You must create at least 3 muscles before setting up analysis</span>
    {{else}}
      <span>No analysis to show</span>
    {{/if}}
  </div>
</div>