@import url('./main.css');
@import url('./components/popup.css');

.wrapper.wrapper-large {
  max-width: 1024px !important;
}

.analysis h3 {
  margin: 0 6px;
}

.participant-card-container {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 35px;
  column-gap: 35px;
  margin: 35px 0;
  min-height: 530px;
}

.placeholder-container,
.participant-card {
  padding: 10px;
  border: 1px solid #232323dd;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 450px;
  animation: fade-in 0.25s ease-in;
}

.placeholder-container > div {
  border: 1px dashed #232323dd;
  width: 100%;
  border-radius: 6px;
}

.placeholder-container div.title {
  height: 24px;
}

.placeholder-container div.header {
  height: 54px;
  margin: 25px 0 35px;
}

.placeholder-container div.content {
  height: 210px;
  margin-bottom: 35px;
}

.placeholder-container div.footer {
  height: 101px;
  margin-bottom: 25px;
}

.participant-card h3 {
  color: #232323dd;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.02em;
}

.angle-auto-select {
  margin: 25px 0 35px;
}

.invalid {
  margin-bottom: 15px;
}

.angle-auto-select,
.invalid {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 1px dashed #232323dd;
  border-radius: 6px;
  padding: 15px 0;
}

.angle-auto-select span,
.invalid span {
  letter-spacing: -0.02em;
  font-size: 1.1em;
  color: #232323dd;
  margin-right: 15px;
}

input[type='checkbox'].auto-switch,
input[type='checkbox'].invalid-switch {
  font-size: 1em;
  appearance: none;
  width: 3em;
  height: 1.5em;
  background: #bdbdbd;
  border-radius: 3em;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
  margin: 0;
}

input[type='checkbox'].auto-switch:checked,
input[type='checkbox'].invalid-switch:checked {
  background: #16a085;
}

input[type='checkbox'].auto-switch::after,
input[type='checkbox'].invalid-switch::after {
  position: absolute;
  content: '';
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #ededed;
  box-shadow: 0 0 0.25em rgb(0 0 0 / 30%);
  transform: scale(0.7);
  left: 0;
  transition: all 0.2s ease-in-out;
}

input[type='checkbox'].auto-switch:checked::after,
input[type='checkbox'].invalid-switch:checked::after {
  left: calc(100% - 1.5em);
}

.participant-card-container img {
  border: 1px dashed #232323dd;
  border-radius: 6px;
  padding: 0 0 15px 15px;
  width: 100%;
}

.nav-btn-container {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  margin-top: 15px;
  display: flex;
}

.nav-btn-container > .nav-btn {
  width: 100%;
}

.nav-btn-container > .nav-prev {
  text-align: right;
  margin-right: 10px;
}

.nav-btn-container > .nav-next {
  text-align: left;
  margin-left: 10px;
}

.nav-btn-container .icon-container {
  display: inline-flex;
  align-items: center;
  height: 100%;
  background-color: #16a084e4;
  border: 2px solid #16a085;
  background-size: 0 100%;
  background-image: linear-gradient(to left, #16a085, #16a085);
  border-radius: 30px;
  padding: 2px 25px;
  transition: ease-out 0.4s;
}

.nav-btn-container .icon-container.disabled {
  background-color: #bdbdbd;
  border-color: #bdbdbd;
  cursor: default;
  pointer-events: none;
}

.nav-btn-container .icon-container:hover {
  cursor: pointer;
  background-color: #16a085;
  background-image: linear-gradient(to right, #16a085, #16a085);
}

.nav-btn-container > .nav-btn i {
  font-size: 1.4em;
  color: #ededed;
}

.complexity-container {
  width: 100%;
  margin: 35px 0 25px;
  text-align: center;
  border: 1px dashed #232323dd;
  border-radius: 6px;
  padding: 15px 0;
}

.complexity-container span {
  letter-spacing: -0.02em;
  font-size: 1.1em;
  color: #232323dd;
}

.complexity-container .switch {
  display: flex;
  overflow: hidden;
  justify-content: center;
  margin: 15px 0 5px;
}

.complexity-container .switch label {
  line-height: 1.99em;
  padding: 0 24px;
  height: 2em;
}
