@import url('./main.css');

a {
  text-decoration: none;
  color: #232323;
}

.logo {
  margin-top: 50px;
}

.logo a:hover {
  opacity: 0.6;
}

.logo:first-of-type a:hover {
  opacity: 0.7;
}

.logo:not(:first-of-type) img {
  height: 95px;
}

.group .persons {
  margin-top: 25px;
}

.group .persons .person {
  border: 1px dashed #232323;
  padding: 15px 0;
  color: #232323;
}

.group .persons .person:not(:last-of-type) {
  margin-bottom: 25px;
}

.group .persons .person h3 {
  text-transform: uppercase;
  font-size: 1.05em;
}

.group .persons .person div.name {
  margin-bottom: 15px;
}

.group .persons .person address {
  margin-bottom: 25px;
}

.group .persons .person div.contact {
  margin: 0 auto;
  margin-bottom: 6px;
}

.group .persons .person div.contact a {
  color: #ededed;
  padding: 10px 100px;
  border: 1px solid #16a085;
  background-color: #16a084e4;
  border-radius: 30px;
  background-image: linear-gradient(to left, #16a085, #16a085);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: ease-out 0.4s;
}

.group .persons .person div.contact a:hover {
  background-size: 100% 100%;
}
