@import url('./main.css');
@import url('./components/popup.css');

main.content section.wrapper h2 {
  margin-bottom: 15px;
}

main.content section.wrapper .update {
  margin-bottom: 35px;
}

main.content section.wrapper .update button {
  color: #ededed;
  font-size: 0.8em;
  padding: 10px 20px;
  border: 1px solid #16a085;
  background-color: #16a084e4;
  border-radius: 30px;
  background-image: linear-gradient(to left, #16a085, #16a085);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: ease-out 0.4s;
  text-transform: uppercase;
}

main.content section.wrapper .update button:hover {
  background-size: 100% 100%;
  cursor: pointer;
}

main.content section.wrapper .update button:disabled {
  pointer-events: none;
  cursor: default;
  background-color: #bdbdbd;
  border-color: #bdbdbd;
}

main.content section.wrapper a {
  color: #16a085;
  text-decoration: none;
  font-weight: bold;
}

main.content section.wrapper a:hover {
  border-bottom: 2px solid #16a085;
  padding-bottom: 1px;
}

.app-license {
  font-size: 0.8em;
  margin-bottom: 15px;
  text-transform: uppercase;
  width: 600px;
  text-align: center;
}

.license {
  max-height: 70vh;
  overflow: auto;
  padding: 20px 10px 20px 20px;
  border: 1px solid #232323;
  border-radius: 6px 0 0 6px;
  margin-bottom: 50px;
  width: 615px;
}

h3 {
  font-size: 1em;
  margin-bottom: 15px;
  text-transform: uppercase;
}

h3:not(:first-of-type) {
  margin-top: 25px;
}

.components {
  border: 1px solid #232323;
  border-radius: 6px;
  width: 615px;
  padding: 20px;
  text-align: left;
}

.components ul {
  padding-left: 25px;
  font-size: 0.8em;
}

.components ul li:not(:first-of-type) {
  padding-top: 3px;
}
