.content {
  transition: ease-in-out .5s;
  background-color: #EDEDED;
  width: 100%;
  height: 100%;
  position: relative;
}

.wrapper {
  min-height: 100vh;
  padding: 50px 40px 25px;
}

.content.open {
  transform: translateX(250px);
  box-shadow: 0 0 50px rgb(0 0 0 / 20%);
}

.content section.wrapper {
  overflow: hidden;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content section.wrapper h1 {
  font-weight: normal;
  font-size: 2em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.content section.wrapper h2 {
  font-weight: lighter;
  font-size: 1.35em;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.content section.wrapper .label {
  display: flex;
  justify-content: left;
  width: 100%;
  min-width: 380px;
  margin-bottom: -12px;
  padding-left: 20px;
}

.label p,
.label label {
  font-size: .9em;
  background-color: #EDEDED;
  z-index: 1;
  padding: 0 7px;
  text-transform: uppercase;
  letter-spacing: -0.03rem;
}

.label p.is-active {
  color: rgb(0 0 0 / 43.7%);
}

.group {
  width: 100%;
  min-width: 380px;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.group:not(:last-child) {
  margin-bottom: 30px;
}

.scroll-space {
  padding-right: 32px;
}

.folder-drop-area {
  display: flex;
  padding: 50px 100px;
  border: 1px dashed #232323dd;
  border-radius: 6px;
  height: 200px;
  flex-direction: column;
}

.choose-btn {
  flex-shrink: 0;
  background-color: #232323dd;
  color: #EDEDED;
  border-radius: 30px;
  padding: 8px 15px;
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: 15px;
  width: 100%;
}

.folder-msg {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #232323dd;
}

.folder-drop-area:hover,
.folder-drop-area.is-active {
  border-style: solid;
  border-color: #232323dd;
  opacity: .8;
}

.choose-btn.is-active,
.folder-drop-area:hover .choose-btn {
  background-color: #232323dd;
  opacity: .8;
}

.folder-msg.is-active,
.folder-drop-area:hover .folder-msg {
  color: #232323dd;
  opacity: .8;
}

.folder-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 50px;
  border: 1px dashed #232323dd;
  border-radius: 6px;
  height: 100px;
}

.input-container .switch {
  margin: 0 50px;
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.switch input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch label {
  text-transform: uppercase;
  background-color: #232323dd;
  color: #EDEDED;
  font-size: 1em;
  line-height: 2.49em;
  text-align: center;
  padding: 0 7%;
  height: 2.5em;
  margin-right: -1px;
  border: 1px solid #232323;
  transition: all .25s ease-in-out;
}

.switch label:hover {
  cursor: pointer;
  opacity: .8;
}

.switch label:first-of-type {
  border-radius: 30px 0 0 30px;
}

.switch label:last-of-type {
  border-radius: 0 30px 30px 0;
}

.switch input:checked+label {
  background-color: #16A085;
}

.input-container > .unit {
  background-color: #232323dd;
  color: #EDEDED;
  text-transform: uppercase;
  font-size: .8em;
  height: 39px;
  padding: 0 15px;
  line-height: 39px;
  position: absolute;
  margin: 0 50px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.input-text {
  width: 100%;
  margin: 0 50px;
  height: 2.5em;
  padding: 0 15px 0 75px;
  border: 1px solid #232323dd;
  border-radius: 30px;
  background-color: transparent;
  transition: ease-in-out .15s;
  color: #232323dd;
  font-size: 1em;
}

.input-text:focus,
.input-text:hover {
  border-width: 2px;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.button-container > button {
  width: 100%;
  padding: 12px 30px;
  font-size: 1.2em;
  color: #EDEDED;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  border-radius: 30px;
  border: 2px solid #16A085;
  background-color: #16a084e4;
  background-size: 0 100%;
  background-image: linear-gradient(to left, #16A085, #16A085);
  background-repeat: no-repeat;
  transition: ease-out .4s;
}

.data-location {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}

.data-location span#data-path {
  font-size: .9em;
  letter-spacing: .02em;
  width: 100%;
  border: 1px solid #232323;
  border-radius: 6px;
  padding: 15px;
}

.data-location span#data-path strong {
  text-transform: uppercase;
  letter-spacing: -.02em;
}

.selection {
  display: flex;
  justify-content: right;
  margin: 0 15px 15px;
  width: 100%;
  padding: 0 32px;
}

.selection button {
  padding: 8px 15px;
  font-size: .9em;
  color: #EDEDED;
  text-transform: uppercase;
  letter-spacing: -.02em;
  border-radius: 30px;
  background-color: #232323dd;
  border: none;
  background-size: 0 100%;
  background-image: linear-gradient(to left, #232323dd, #232323dd);
  background-repeat: no-repeat;
  transition: ease-out .2s;
}

.selection button:hover {
  background-color: #16A085;
  background-image: linear-gradient(to right, #16A085, #16A085);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

.selection button:first-of-type {
  margin-right: 15px;
}

.button-container > button:hover {
  background-color: #16A085;
  background-image: linear-gradient(to right, #16A085, #16A085);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

.button-container > button:disabled {
  background-color: #BDBDBD;
  border-color: #BDBDBD;
  cursor: default;
  pointer-events: none;
}

.list-container {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 480px;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  border-radius: 6px;
}

ul.list {
  text-indent: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.list > li.item {
  display: flex;
  margin: 15px 15px 15px 0;
  min-width: 300px;
  border-bottom: 4px solid #16A085;
  border-radius: 6px;
  color: #EDEDED;
  background-color: #232323dd;
  background-size: 0 100%;
  background-image: linear-gradient(to left, #232323dd, #232323dd);
  background-repeat: no-repeat;
  transition: ease-in .15s;
}

ul.list > li.item > .content {
  display: flex;
  height: 100px;
  background-color: transparent;
  padding: 10px 0 10px 20px;
  justify-content: flex-start;
}

ul.list > li.item > .content i {
  font-size: 2em;
  line-height: 56px;
  padding: 10px 19px;
  border: 1px solid #EDEDED;
  border-radius: 60px;
}

ul.list > li.item.completed > .content i {
  border-color: #81C784;
  transition: all ease-in-out .4s;
}

ul.list > li.item.not-completed > .content i {
  border-color: #E57373;
  transition: all ease-in-out .4s;
}

ul.list > li.item > .content .text {
  flex-basis: 10%;
  align-self: center;
  letter-spacing: .08em;
}

ul.list > li.item.selected .status {
  color: #EDEDED !important;
  font-weight: bold;
}

ul.list > li.item > .content .status {
  align-self: center;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: .8em;
  text-align: right;
  width: 100%;
  padding-right: 20px;
  letter-spacing: .05em;
}

ul.list > li.item.not-completed > .content .status {
  color: #E57373;
  transition: all ease-in-out .4s;
}

ul.list > li.item.completed > .content .status {
  color: #81C784;
  transition: all ease-in-out .4s;
}

ul.list > li.item > .content span.line-1 {
  font-size: 1.2em;
  text-transform: capitalize;
  padding-left: 20px;
}

ul.list > li.item > .content span.line-2 {
  font-size: .8em;
  font-style: italic;
  text-transform: uppercase;
  padding-left: 20px;
}

ul.list > li.item.not-completed span.line-2 {
  color: #E57373;
}

ul.list > li.item.completed span.line-2 {
  color: #81C784;
}

ul.list > li.item:last-of-type {
  margin-bottom: 0;
}

ul.list > li.item:hover {
  background-color: #16A085;
  cursor: pointer;
}

ul.list > li.item.completed:hover .status,
ul.list > li.item.not-completed:hover .status,
ul.list > li.item:hover span.line-2 {
  color: #EDEDED;
}

ul.list > li.item.completed:hover i,
ul.list > li.item.not-completed:hover i {
  border-color: #EDEDED;
}

ul.list > li.item.selected > .content span.line-1,
ul.list > li.item.selected > .content span.line-2 {
  font-weight: bold;
}

@media only screen and (max-width: 980px) {
  main section.wrapper {
    padding-top: 140px;
  }
}

@media only screen and (max-width: 730px) {
  .input-container {
    padding: 50px 5px;
  }

  .input-container .switch {
    margin: 0;
  }
}
