@import url('./main.css');
@import url('./components/popup.css');
@import url('./components/list.css');

.export-xlsx-btn {
  top: 110px;
}

.export-pdf-btn {
  top: 170px;
}

.export-btn {
  opacity: 1;
  left: 42px;
  width: 90px;
  height: 50px;
  background-color: #16a085;
  position: fixed;
  z-index: 9;
  border-radius: 60px;
  box-shadow: 6px 6px 15px -3px rgb(0 0 0 / 60%);
  transition-duration: 0.5s;
}

.export-btn:hover {
  cursor: pointer;
  background-color: #232323dd;
}

.export-btn-disabled {
  background-color: #bdbdbd;
  box-shadow: 6px 6px 15px -3px rgb(0 0 0 / 30%);
}

.export-btn-disabled:hover {
  cursor: default;
  background-color: #bdbdbd;
}

.export-btn.open {
  opacity: 0;
  transform: translateX(250px);
  pointer-events: none;
  cursor: default;
}

.export-btn i {
  position: absolute;
  top: 12px;
  left: 35px;
  font-size: 1.65em;
  color: #ededed;
}

.data-wrapper {
  display: flex;
  width: 100%;
  padding-right: 15px;
}

.data-location {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
  border: 1px solid #232323;
  border-radius: 6px;
}

.path-infos {
  display: inline-flex;
  justify-content: left;
  width: 82%;
}

.change-btn-container {
  display: inline-flex;
  justify-content: right;
  width: 135px;
  padding-right: 15px;
  align-items: center;
}

.change-btn-container > button {
  padding: 6px 10px;
  font-size: 0.9em;
  color: #ededed;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  border-radius: 30px;
  border: 1px solid #16a085;
  background-color: #16a084e4;
  background-size: 0 100%;
  background-image: linear-gradient(to left, #16a085, #16a085);
  background-repeat: no-repeat;
  transition: ease-out 0.2s;
  display: block;
}

#group-stage {
  padding-right: 15px;
  margin-bottom: 75px;
}

.analysis h3 {
  margin-right: 15px;
}

.selection {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  width: 100%;
  padding-right: 15px;
}

.selection button {
  padding: 8px 15px;
  font-size: 0.9em;
  color: #ededed;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  border-radius: 30px;
  background-color: #232323dd;
  border: none;
  background-size: 0 100%;
  background-image: linear-gradient(to left, #232323dd, #232323dd);
  background-repeat: no-repeat;
  transition: ease-out 0.2s;
}

.change-btn-container button:hover {
  background-color: #16a085;
  background-image: linear-gradient(to right, #16a085, #16a085);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

div#stage-selector {
  display: contents;
}

.selection button:hover {
  background-color: #606060;
  background-image: linear-gradient(to right, #606060, #606060);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

.selection .align-right button:first-of-type {
  margin-right: 10px;
}

.data-location span#data-path i {
  font-size: 1.2em;
  padding-right: 15px;
  padding-top: 3px;
}

.data-location span#data-path p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 465px;
  font-size: 0.9em;
  letter-spacing: 0.02em;
  padding-top: 2px;
  font-weight: bold;
}
