<!DOCTYPE html>
<html lang="en">

<head>
  <title>EMG Trigno</title>
  <meta charset="utf-8">
</head>

<body>
  <div class="app">
    <div class="menu-container"></div>

    <main class="content">
      <section class="wrapper wrapper-large">
        <h1>EMG Trigno</h1>
        <h2>Angles Preview</h2>
        <div class="analysis">
          <h3>Type of Analysis:</h3>
        </div>
        <div class="participant-card-container"></div>
        <div class="group no-margin">
          <div class="button-container">
            <button type="submit" disabled>Save</button>
          </div>
        </div>
        <div class="group">
          <div class="button-container">
            <button type="reset">Cancel</button>
          </div>
        </div>
      </section>
    </main>
  </div>
</body>

</html>
