<!DOCTYPE html>
<html lang="en">

<head>
  <title>EMG Trigno</title>
  <meta charset="utf-8">
  <link rel="icon" href="./assets/app.png">
</head>

<body>
  <div class="app">
    <div class="menu-container"></div>

    <main class="content">
      <section class="wrapper">
        <h1>EMG Trigno</h1>
        <h2>HPF Converter</h2>
        <div class="group">
          <div class="label">
            <p>Root data folder</p>
          </div>
          <div class="folder-drop-area">
            <span class="choose-btn">Choose a folder</span>
            <div class="folder-msg">
              <div id="text">
                or drag and drop the folder here
              </div>
            </div>
            <input class="folder-input" type="file" nwdirectory>
          </div>
        </div>
        <div class="group">
          <div class="button-container">
            <button type="submit" disabled>Convert Data</button>
          </div>
        </div>
      </section>
    </main>
  </div>
</body>

</html>