<!DOCTYPE html>
<html lang="en">

<head>
  <title>EMG Trigno</title>
  <meta charset="utf-8">
  <link rel="icon" href="./assets/app.png">
</head>

<body>
  <div class="app">
    <div class="menu-container"></div>

    <main class="content">
      <section class="wrapper">
        <h1>EMG Trigno</h1>
        <h2>Made by LIARA Lab.</h2>
        <div class="group">
          <div class="persons">
            <div class="person">
              <h3>Project Manager</h3>
              <div class="name">Sébastien Gaboury</div>
              <address>
                Université du Québec à Chicoutimi<br>
                Québec, Canada
              </address>
              <div class="contact">
                <a href="mailto:sebastien_gaboury@uqac.ca">contact</a>
              </div>
            </div>
            <div class="person">
              <h3>Lead Developer</h3>
              <div class="name">Florentin Thullier</div>
              <address>
                Université du Québec à Chicoutimi<br>
                Québec, Canada
              </address>
              <div class="contact">
                <a href="mailto:fthullie@uqac.ca">contact</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</body>

</html>