<!doctype html>
<html lang="en">
  <head>
    <title>MyoRatio</title>
    <meta charset="utf-8" />
    <link rel="icon" href="./assets/app.png" />
  </head>
  <body>
    <div class="app">
      <div class="menu-container"></div>
      <main class="content">
        <div class="disable-content-overlay"></div>
        <section class="wrapper">
          <h1>MyoRatio</h1>
          <div class="logo">
            <a href="https://liara.uqac.ca/" target="_blank" rel="noopener">
              <img src="liara-logo-dark.png" alt="Logo LIARA" />
            </a>
          </div>
          <div class="group">
            <div class="persons">
              <div class="person">
                <h3>Project Manager</h3>
                <div class="name">Pr Sébastien Gaboury, Ph.D.</div>
                <address>
                  Université du Québec à Chicoutimi<br />
                  Québec, Canada
                </address>
                <div class="contact">
                  <a href="mailto:sebastien_gaboury@uqac.ca">
                    <i class="fa-regular fa-envelope"></i>
                  </a>
                </div>
              </div>
              <div class="person">
                <h3>Lead Developer</h3>
                <div class="name">Florentin Thullier, Ph.D.</div>
                <address>
                  Université du Québec à Chicoutimi<br />
                  Québec, Canada
                </address>
                <div class="contact">
                  <a href="mailto:fthullie@uqac.ca">
                    <i class="fa-regular fa-envelope"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="logo">
            <a href="https://www.grimn.ca/" target="_blank" rel="noopener">
              <img src="grimn-logo-dark.png" alt="Logo GRIMN" />
            </a>
          </div>
          <div class="group">
            <div class="persons">
              <div class="person">
                <h3>Project Coordinator</h3>
                <div class="name">Pre Cynthia Gagnon, erg., Ph.D.</div>
                <address>
                  FMSS de l'Université de Sherbrooke<br />
                  CIUSSS Saguenay-Lac-St-Jean <br />
                  Québec, Canada
                </address>
                <div class="contact">
                  <a href="mailto:cynthia.gagnon4@usherbrooke.ca">
                    <i class="fa-regular fa-envelope"></i>
                  </a>
                </div>
              </div>
              <div class="person">
                <h3>Technical Coordinator</h3>
                <div class="name">Isabelle Lessard, pht, Ph.D.</div>
                <address>
                  Groupe ÉCOBES, Cégep de Jonquière<br />
                  Québec, Canada
                </address>
                <div class="contact">
                  <a href="mailto:isabellelessard@cegepjonquiere.ca">
                    <i class="fa-regular fa-envelope"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
