<!DOCTYPE html>
<html lang="en">

<head>
  <title>EMG Trigno</title>
  <meta charset="utf-8">
  <link rel="icon" href="public/assets/app.png">
</head>

<body>
  <div class="app">
    <div class="menu-container"></div>

    <main class="content">
      <section class="wrapper">
        <h1>EMG Trigno</h1>
        <h2>Data Discovering</h2>
        <div class="group">
          <div class="label">
            <p>Input data folder</p>
          </div>
          <div class="folder-drop-area">
            <span class="choose-btn">Choose a folder</span>
            <div class="folder-msg">
              <div id="text">
                or drag and drop the folder here
              </div>
            </div>
            <input class="folder-input" type="file" nwdirectory>
          </div>
        </div>
        <div class="group">
          <div class="label">
            <label for="switch-analysis">Type of Analysis</label>
          </div>
          <div class="input-container">
            <div class="switch" id="switch-analysis">
              <input type="radio" id="analysis-opt1" name="switch-analysis" value="extension">
              <label for="analysis-opt1">Extension</label>
              <input type="radio" id="analysis-opt2" name="switch-analysis" value="flexion">
              <label for="analysis-opt2">Flexion</label>
              <input type="radio" id="analysis-opt3" name="switch-analysis" value="sit-stand">
              <label for="analysis-opt3">Sit-Stand</label>
            </div>
          </div>
        </div>
        <!-- <div class="group">
          <div class="label">
            <p>Size of the window</p>
          </div>
          <div class="input-container">
            <span class="unit">Sec.</span>
            <input id="window-size" step="0.01" class="input-text" type="number" value="0.2">
          </div>
        </div> -->
        <div class="group">
          <div class="button-container">
            <button type="submit" disabled>Discover Data</button>
          </div>
        </div>
      </section>
    </main>
  </div>
</body>

</html>
