<!doctype html>
<html lang="en">
  <head>
    <title>MyoRatio</title>
    <meta charset="utf-8" />
    <link rel="icon" href="./assets/app.png" />
  </head>
  <body>
    <div class="app">
      <div class="menu-container"></div>
      <main class="content">
        <div class="disable-content-overlay"></div>
        <section class="wrapper">
          <h1>MyoRatio</h1>
          <h2>Data Discovering</h2>
          <div class="group">
            <div class="label">
              <p>Root data folder</p>
            </div>
            <div class="folder-drop-area">
              <span class="choose-btn">Choose a folder</span>
              <div class="folder-msg">
                <div id="text">or drag and drop the folder here</div>
              </div>
              <input class="folder-input" type="file" nwdirectory />
            </div>
          </div>
          <div class="group">
            <div class="label">
              <label>Type of Analysis</label>
            </div>
            <div class="input-container">
              <select id="select-analysis"></select>
            </div>
          </div>
          <div class="group">
            <div class="button-container">
              <button type="submit" disabled>Discover Data</button>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
