<!DOCTYPE html>
<html lang="en">

<head>
  <title>EMG Trigno</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/components/loader.css">
  <link rel="stylesheet" href="../styles/components/menu.css">
  <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
  <div id="loader-overlay" class="not-visible">
    <div class="loader-wrapper">
      <div class="loader graph-animate"></div>
      <svg class="spinner" height="155" width="155">
        <circle class="loader-rotate" cx="76" cy="77" r="75" stroke="transparent" stroke-width="2" fill="transparent" />
      </svg>
    </div>
    <div class="loading-msg">
      <p>Processing data...</p>
    </div>
  </div>
  <div class="app">
    <nav class="menu">
      <ul>
        <li><a class="active" id="home" href="#">Data Processing</a></li>
        <li><a id="hpf-converter" href="#">HPF Converter</a></li>
        <li><a id="file-organizer" class="disabled" href="#">File Organizer</a></li>
        <li><a id="settings" href="settings.html">Settings</a></li>
      </ul>
    </nav>

    <div class="toggle-nav-btn">
      <div class="icon"></div>
    </div>

    <main class="content">
      <section class="wrapper">
        <h1>EMG Trigno</h1>
        <h2>Participants Selection</h2>
        <div class="data-location-wrapper scroll-space">
          <div class="data-location">
            <div class="path-infos">
              <span id="data-path"><strong>Data Location:</strong></span>
            </div>
            <div class="change-btn-container">
              <button type="button" id="change-btn">change</button>
            </div>
          </div>
        </div>
        <div class="selection">
          <button type="button" id="btn-all">Select All</button>
          <button type="button" id="btn-not-completed">Select Not Completed</button>
        </div>
        <div class="list-container">
          <ul class="list">
            <li class="item not-completed">
              <div class="content">
                <i class="fas fa-user-times"></i>
                <div class="text">
                  <span class="line-1">Participant#5507</span>
                  <span class="line-2">not completed</span>
                </div>
              </div>
              <div class="actions">
                <button type="button" disabled>See Results</button>
              </div>
            </li>
            <li class="item completed">
              <div class="content">
                <i class="fas fa-user-check"></i>
                <div class="text">
                  <span class="line-1">Participant#5654</span>
                  <span class="line-2">completed</span>
                </div>
              </div>
              <div class="actions">
                <button type="button">See Results</button>
              </div>
            </li>
            <li class="item not-completed">
              <div class="content">
                <i class="fas fa-user-times"></i>
                <div class="text">
                  <span class="line-1">Participant#6741</span>
                  <span class="line-2">not completed</span>
                </div>
              </div>
              <div class="actions">
                <button type="button" disabled>See Results</button>
              </div>
            </li>
            <li class="item not-completed">
              <div class="content">
                <i class="fas fa-user-times"></i>
                <div class="text">
                  <span class="line-1">Participant#7953</span>
                  <span class="line-2">not completed</span>
                </div>
              </div>
              <div class="actions">
                <button type="button" disabled>See Results</button>
              </div>
            </li>
          </ul>
        </div>
        <div class="group scroll-space">
          <div class="button-container">
            <button type="submit" disabled>Start Processing</button>
          </div>
        </div>
      </section>
    </main>
  </div>
  <script type="module" src="../app/participants-selection.js" defer></script>
</body>

</html>
