<!DOCTYPE html>
<html lang="en">

<head>
  <title>EMG Trigno</title>
  <meta charset="utf-8">
</head>

<body>
  <div id="loader-overlay" class="not-visible"></div>
  <div class="app">
    <div class="menu-container"></div>

    <main class="content">
      <section class="wrapper">
        <h1>EMG Trigno</h1>
        <h2>Participants Selection</h2>
        <div class="data-location-wrapper">
          <div class="data-location">
            <div class="path-infos">
              <span id="data-path"><strong>Data Location:</strong></span>
            </div>
            <div class="change-btn-container">
              <button type="button" id="change-btn">change</button>
            </div>
          </div>
        </div>
        <div class="selection">
          <button type="button" id="btn-preview">Preview</button>
          <div class="align-right">
            <button type="button" id="btn-all">All</button>
            <button type="button" id="btn-not-completed">Not Completed</button>
          </div>
        </div>
        <!-- <div class="list-container empty-list">
          <div class="empty-content">
            <h4>No data found</h4>
            <span>Try to change input folder</span>
          </div>
        </div> -->
        <div class="list-container">
          <ul class="list">
            <li class="item not-completed">
              <div class="content">
                <div class="icon">
                  <i class="fas fa-user-times"></i>
                </div>
                <div class="infos">
                  <div class="line-1">Participant#5507</div>
                  <div class="line-2">
                    <span class="state"></span>
                    <span class="text">not completed</span>
                  </div>
                  <div class="line-3 high">
                    <span class="state"></span>
                    <span class="text">high complexity</span>
                  </div>
                </div>
              </div>
              <div class="actions">
                <button type="button" disabled>See Results</button>
              </div>
            </li>
            <li class="item completed">
              <div class="content">
                <div class="icon">
                  <i class="fas fa-user-check"></i>
                </div>
                <div class="infos">
                  <div class="line-1">Participant#5654</div>
                  <div class="line-2">
                    <span class="state"></span>
                    <span class="text">completed</span>
                  </div>
                  <div class="line-3 low">
                    <span class="state"></span>
                    <span class="text">low complexity</span>
                  </div>
                </div>
              </div>
              <div class="actions">
                <button type="button">See Results</button>
              </div>
            </li>
            <li class="item not-completed">
              <div class="content">
                <div class="icon">
                  <i class="fas fa-user-times"></i>
                </div>
                <div class="infos">
                  <div class="line-1">Participant#6741</div>
                  <div class="line-2">
                    <span class="state"></span>
                    <span class="text">not completed</span>
                  </div>
                  <div class="line-3 medium">
                    <span class="state"></span>
                    <span class="text">medium complexity</span>
                  </div>
                </div>
              </div>
              <div class="actions">
                <button type="button" disabled>See Results</button>
              </div>
            </li>
            <li class="item not-completed">
              <div class="content">
                <div class="icon">
                  <i class="fas fa-user-times"></i>
                </div>
                <div class="infos">
                  <div class="line-1">Participant#7953</div>
                  <div class="line-2">
                    <span class="state"></span>
                    <span class="text">not completed</span>
                  </div>
                  <div class="line-3 unknown">
                    <span class="state"></span>
                    <span class="text">unknown complexity</span>
                  </div>
                </div>
              </div>
              <div class="actions">
                <button type="button" disabled>See Results</button>
              </div>
            </li>
          </ul>
        </div>
        <div class="group group-right-space">
          <div class="button-container">
            <button type="submit" disabled>Start Processing</button>
          </div>
        </div>
      </section>
    </main>
  </div>
</body>

</html>
