<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MyoRatio</title>
    <meta charset="utf-8" />
    <link rel="icon" href="./assets/app.png" />
  </head>
  <body>
    <div class="app">
      <div class="menu-container"></div>
      <div class="export-btn export-xlsx-btn">
        <i class="fas fa-file-excel"></i>
      </div>
      <!-- <div class="export-btn export-pdf-btn">
        <i class="fas fa-file-pdf"></i>
      </div> -->
      <main class="content">
        <section class="wrapper">
          <h1>MyoRatio</h1>
          <h2>Participants Selection</h2>
          <div class="data-wrapper">
            <div class="data-location">
              <div class="path-infos">
                <span id="data-path">
                  <i class="fa-regular fa-folder-open"></i>
                  <p></p>
                </span>
              </div>
              <div class="change-btn-container">
                <button type="button" id="change-btn">change</button>
              </div>
            </div>
          </div>
          <div id="stage-selector"></div>
          <div class="analysis">
            <h3>Type of Analysis:</h3>
          </div>
          <div class="selection">
            <button type="button" id="btn-preview">Preview</button>
            <div class="align-right">
              <button type="button" id="btn-all">All</button>
              <button type="button" id="btn-not-completed">Not Completed</button>
            </div>
          </div>
          <div class="list-container">
            <ul class="list"></ul>
          </div>
          <div class="group group-right-space">
            <div class="button-container">
              <button type="submit" disabled>Start Processing</button>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
