<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EMG Trigno</title>
    <meta charset="utf-8" />
    <link rel="icon" href="./assets/app.png" />
  </head>
  <body>
    <div class="app">
      <div class="menu-container"></div>
      <main class="content">
        <section class="wrapper">
          <h1>EMG Trigno</h1>
          <h2>Settings</h2>
          <div class="group">
            <div class="label">
              <p>General</p>
            </div>
            <div class="setting-container">
              <div class="group">
                <div class="label">
                  <p>Notification preferences</p>
                </div>
                <div class="input-container">
                  <p id="notification-status">
                    Notifications are currently
                    <span class="accent"></span>
                  </p>
                  <button type="button" class="inline-button" id="notification-btn">
                    enable
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="group">
            <div class="label">
              <p>EMG Processing</p>
            </div>
            <div class="setting-container">
              <div class="group">
                <div class="label">
                  <p>Size of the window</p>
                </div>
                <div class="input-container">
                  <span class="unit">Sec.</span>
                  <input
                    id="window-size"
                    step="0.01"
                    class="input-text"
                    type="number"
                    value="0.2"
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="group"> -->
          <!-- <div class="label">
            <p>Section #2</p>
          </div>
          <div class="setting-container">
            <div class="setting-line">
              <div class="setting-label">
                <span>Example setting #3</span>
              </div>
              <div class="switch-box">
                <input type="checkbox" class="switch">
              </div>
            </div>
          </div> -->
          <!-- </div> -->
          <div class="group">
            <div class="button-container">
              <button type="submit">Save</button>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
