<!DOCTYPE html>
<html lang="en">

<head>
  <title>EMG Trigno</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/components/loader.css">
  <link rel="stylesheet" href="../styles/components/menu.css">
  <link rel="stylesheet" href="../styles/main.css">
  <link rel="stylesheet" href="../styles/settings.css">
</head>

<body>
  <div class="app">
    <nav class="menu">
      <ul>
        <li><a id="home" href="data-discovering.html">Data Processing</a></li>
        <li><a id="hpf-converter" href="#">HPF Converter</a></li>
        <li><a id="file-organizer" class="disabled" href="#">File Organizer</a></li>
        <li><a class="active" id="settings" href="settings.html">Settings</a></li>
      </ul>
    </nav>

    <div class="toggle-nav-btn">
      <div class="icon"></div>
    </div>

    <main class="content">
      <section class="wrapper">
        <h1>EMG Trigno</h1>
        <h2>Settings</h2>
        <div class="group">
          <div class="label">
            <p>Section #1</p>
          </div>
          <div class="setting-container">
            <div class="setting-line">
              <div class="setting-label">
                <span>Example setting #1</span>
              </div>
              <div class="switch-box">
                <input type="checkbox" class="switch">
              </div>
            </div>
            <div class="setting-line">
              <div class="setting-label">
                <span>Example setting #2</span>
              </div>
              <div class="switch-box">
                <input type="checkbox" class="switch">
              </div>
            </div>
          </div>
        </div>
        <div class="group">
          <div class="label">
            <p>Section #2</p>
          </div>
          <div class="setting-container">
            <div class="setting-line">
              <div class="setting-label">
                <span>Example setting #3</span>
              </div>
              <div class="switch-box">
                <input type="checkbox" class="switch">
              </div>
            </div>
          </div>
        </div>
        <div class="group">
          <div class="button-container">
            <button type="submit">Save</button>
          </div>
        </div>
      </section>
    </main>
  </div>
  <script type="module" src="../app/settings.js" defer></script>
</body>

</html>
