@media only screen and (width <= 980px) {
  main section.wrapper {
    padding-top: 140px;
  }

  .participant-card-container {
    grid-template-columns: auto;
  }
}

@media only screen and (width <= 730px) {
  .input-container {
    padding: 50px 5px;
  }

  .input-container .switch {
    margin: 0;
  }

  .folder-drop-area,
  .file-drop-area {
    padding: 50px;
  }
}
