<div id="loader-overlay" class="not-visible">
  <div class="loader-wrapper">
    <div class="loader graph-animate"></div>
    <svg class="spinner" height="155" width="155">
      <circle class="loader-rotate" cx="76" cy="77" r="75" stroke="transparent" stroke-width="2" fill="transparent" />
    </svg>
  </div>
  <div class="loading-msg">
    <p>{{ message }}</p>
  </div>
</div>
