<nav class="menu">
  <ul>
    <li><a class="active" id="home" href="data-discovering.html">Data Processing</a></li>
    <li><a id="hpf-converter" href="converter.html">HPF Converter</a></li>
    <li><a id="settings" href="settings.html">Settings</a></li>
  </ul>
  <div class="bottom">
    <div class="logos">
      <img src="public/assets/img/grimn-logo.png" alt="Logo GRIMN">
      <img src="public/assets/img/liara-logo.png" alt="Logo LIARA">
    </div>
    <div class="copyright">
      <span>Made by <br></span>
      <span><a href="copyright.html">GRIMN & LIARA Lab.</a></span>
    </div>
    <div class="version">
      <span><a href="license.html">Version {{ version }}</a></span>
    </div>
  </div>
</nav>

<div class="toggle-nav-btn">
  <div class="icon"></div>
</div>
