<nav class="menu">
  <ul>
    <li><a class="active" id="home" href="data-discovering.html">Data Processing</a></li>
    <li><a id="hpf-converter" href="#">HPF Converter</a></li>
    <li><a id="settings" class="" href="settings.html">Settings</a></li>
  </ul>
</nav>

<div class="toggle-nav-btn">
  <div class="icon"></div>
</div>
