<div id="success-overlay">
  <div class="success-wrapper">
    <i class="fa-solid fa-heart-circle-check"></i>
  </div>
  <div class="success-msg">
    <p class="message">{{ message }}</p>
    <p class="details">{{ details }}</p>
  </div>
  {{#if interact}}
    <button type="submit" id="interact-btn">{{ interactBtnLabel }}</button>
  {{/if}}
</div>
